p{
    color: white;
}

#currentLocation{
    color: red;
}

button {
    border: 2px soild red;
    border-radius: 25px;
}

input{
    width: 10rem;
}

#locationSearchResults{
    border: #A2ABAB;
    border-radius: 50px;
    background-color: #7D869C;
    color: #E5E8B6;
    text-align: center;
}

.searchDiv{
    background-color: #A2ABAB;
}


h2{
    color: #E5E8B6;
    text-align:center;
}